closed caption

How do I determine the closed captions in a video?

The following is the test link,
http://devimages.apple.com.edgekey.net/streaming/examples/bipbop_16x9/bipbop_16x9_variant.m3u8


There are 8 subtitle tracks in the list and 2 hidden subtitles in the video stream,
In the subtitle track of the player, there is always a "EIA-608" track, and I cannot determine if it really exists




I played the linked file in the latest version of the demo app and saw the following 8 text tracks logged, corresponding to the 8 text tracks in the playlist:

```
tracks [eventTime=2.19, mediaPos=0.00, window=0, period=0                                                                                                     
  group [                                                                                                                                                     
    [X] Track:0, id=0, mimeType=video/avc, bitrate=263851, codecs=avc1.4d400d, res=416x234, supported=YES                                                     
    [ ] Track:1, id=1, mimeType=video/avc, bitrate=28451, codecs=avc1.4d400d, roleFlags=[trick-play], supported=YES                                           
    [X] Track:2, id=2, mimeType=video/avc, bitrate=577610, codecs=avc1.4d401e, res=640x360, supported=YES                                                     
    [ ] Track:3, id=3, mimeType=video/avc, bitrate=181534, codecs=avc1.4d401e, roleFlags=[trick-play], supported=YES                                          
    [X] Track:4, id=4, mimeType=video/avc, bitrate=915905, codecs=avc1.4d401f, res=960x540, supported=YES                                                     
    [ ] Track:5, id=5, mimeType=video/avc, bitrate=297056, codecs=avc1.4d401f, roleFlags=[trick-play], supported=YES                                          
    [X] Track:6, id=6, mimeType=video/avc, bitrate=1030138, codecs=avc1.4d401f, res=1280x720, supported=YES                                                   
    [ ] Track:7, id=7, mimeType=video/avc, bitrate=339492, codecs=avc1.4d401f, roleFlags=[trick-play], supported=YES                                          
    [X] Track:8, id=8, mimeType=video/avc, bitrate=1924009, codecs=avc1.4d401f, res=1920x1080, supported=YES                                                  
    [ ] Track:9, id=9, mimeType=video/avc, bitrate=669554, codecs=avc1.4d401f, roleFlags=[trick-play], supported=YES                                          
  ]                                                                                                                                                           
  group [                                                                                                                                                     
    [X] Track:0, id=0, mimeType=audio/mp4a-latm, codecs=mp4a.40.2, language=en, label=BipBop Audio 1, selectionFlags=[auto,default], supported=YES            
  ]                                                                                                                                                           
  group [                                                                                                                                                     
    [ ] Track:0, id=bipbop_audio:BipBop Audio 2, mimeType=audio/mp4a-latm, codecs=mp4a.40.2, language=en, label=BipBop Audio 2, supported=YES                 
  ]                                                                                                                                                           
  group [                                                                                                                                                     
    [X] Track:0, id=subs:English, mimeType=text/vtt, language=en, label=English, selectionFlags=[auto,default], roleFlags=[transcribes-dialog], supported=YES 
  ]                                                                                                                                                           
  group [                                                                                                                                                     
    [ ] Track:0, id=subs:English (Forced), mimeType=text/vtt, language=en, label=English (Forced), selectionFlags=[auto,forced], supported=YES                
  ]                                                                                                                                                           
  group [                                                                                                                                                     
    [ ] Track:0, id=subs:Français, mimeType=text/vtt, language=fr, label=Français, selectionFlags=[auto], roleFlags=[transcribes-dialog], supported=YES       
  ]                                                                                                                                                           
  group [                                                                                                                                                     
    [ ] Track:0, id=subs:Français (Forced), mimeType=text/vtt, language=fr, label=Français (Forced), selectionFlags=[auto,forced], supported=YES              
  ]                                                                                                                                                           
  group [                                                                                                                                                     
    [ ] Track:0, id=subs:Español, mimeType=text/vtt, language=es, label=Español, selectionFlags=[auto], roleFlags=[transcribes-dialog], supported=YES         
  ]                                                                                                                                                           
  group [                                                                                                                                                     
    [ ] Track:0, id=subs:Español (Forced), mimeType=text/vtt, language=es, label=Español (Forced), selectionFlags=[auto,forced], supported=YES                
  ]                                                                                                                                                           
  group [                                                                                                                                                     
    [ ] Track:0, id=subs:日本語, mimeType=text/vtt, language=ja, label=日本語, selectionFlags=[auto], roleFlags=[transcribes-dialog], supported=YES                 
  ]                                                                                                                                                           
  group [                                                                                                                                                     
    [ ] Track:0, id=subs:日本語 (Forced), mimeType=text/vtt, language=ja, label=日本語 (Forced), selectionFlags=[auto,forced], supported=YES                        
  ]                                                                                                                                                           
  group [                                                                                                                                                     
    [X] Track:0, id=ID3, mimeType=application/id3, supported=YES                                                                                              
  ]                                                                                                                                                           
  Metadata [                                                                                                                                                  
    HlsTrackMetadataEntry                                                                                                                                     
  ]                                                                                                                                                           
]                                                                                                                                                             
```

> In the subtitle track of the player, there is always a "EIA-608" track, and I cannot determine if it really exists

I don't see this behaviour in the demo app.

You can use VLC player for testing and find  Closed Captions in the video.
My purpose is to read Closed Captions in the video, not  in the playlist. exoplayer  defaults to reading  in the playlist


The provided HLS playlist does not declare that any of the video streams contain in-stream CEA-608 subtitles. This would be declared with an `EXT-X-MEDIA` tag with `TYPE=CAPTIONS` as documented in [RFC 8216 Section 4.4.6.1](https://datatracker.ietf.org/doc/html/draft-pantos-hls-rfc8216bis#section-4.4.6.1).

Given that, it seems correct not to look for CEA-608 data in the video files.

If you want to change the behaviour of the `TsExtractor` used by ExoPlayer's HLS components you can do so by providing a custom [`HlsExtractorFactory`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/hls/HlsExtractorFactory.html).

Closing because I believe the question has been answered.