30 sec difference when Go Live in HLS

Hi can any one help me out about my problem in exoplayer:

I am using player in my application for HLS stream which I receive from backend server.In backend we have implemented a buffer of 10 sec segment and this buffer is of circular type, which means that we are receiving HLS stream with circular manner with this implementation we receive time from backend which we show in player we have maintained 26 hour recording in HLS stream means that after every 26 hrs our backend buffer gets clear and a fresh recording starts.

Now I am facing problem as:
When I reach to live window frame using mexoplayer.seekto(c.Time_unset) my player goes to live or say current frame from HLS stream but the time showing in player is that 25:59:30 / 26:00:00 - exo_position/exo_duration which is playback and offset time. 

Now my question is why my player is not showing 26:00:00 / 26:00:00 like this instead it is showing 25:59:30 / 26:00:00?
This means there is a difference of 30 seconds even when user tap on Go Live button.

If I understand the situation correctly, then this is working as intended. [seekTo(C.TIME_UNSERT)](https://github.com/google/ExoPlayer/blob/r2.12.1/library/core/src/main/java/com/google/android/exoplayer2/Player.java#L1110-L1111) seeks to the window's default position. 

For HLS live streams, the default position is at most 3 segments before the end of the stream, and can be more than that, as long as the window starting position is at least `2 x target_duration` before the live edge ([link to code](https://github.com/google/ExoPlayer/blob/r2.12.1/library/hls/src/main/java/com/google/android/exoplayer2/source/hls/HlsMediaSource.java#L518-L531)). 

You mentioned the segments have a duration of 10 seconds, therefore the window default position is at least `3 x 10 = 30 seconds` before the end of the playlist. Also, according to my reading of the HLS spec, players should be `3 x target duration` behind the live edge, see [RFC 8216 section 4.4.3.8](https://tools.ietf.org/html/draft-pantos-hls-rfc8216bis-07#section-4.4.3.8) (note the player does not parse the EXT-X-SERVER-CONTROL yet, but the spec mentions the suggested distance from the live edge when not using the new low-latency features).

Please note that you may seek closer to the end of the playlist if you specify a time directly, but seeking exactly at the end of the stream is not a good idea. The player has to stay a few seconds behind the live edge  in order to maintain a buffer of video data to compensate for network instabilities. You may seek to less that 30 seconds behind the playlist duration, but not too close otherwise there is increased possibility of rebuffering. 

Closing for now, feel free to re-open if more information is needed.