No caption subtitle track is detected

### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Android Emulator - Android_TV_1080p_API_28

### Devices that do not reproduce the issue

None

### Reproducible in the demo app?

Not tested

### Reproduction steps

1. Disable HLS chunkless preparation
2. Play the attached media in the demo app

### Expected result

4 caption/subtitle tracks should be visible

![Screen Shot 2022-12-16 at 9 32 33 PM](https://user-images.githubusercontent.com/100230840/208109434-982bc7e5-755d-4a8d-b079-767c31f93088.png)


### Actual result

No caption/subtitle track is detected

```
D/EventLogger( 4179):   group [
D/EventLogger( 4179):     [X] Track:0, id=0, mimeType=video/avc, bitrate=2340000, codecs=avc1.4d001f, res=1024x576, fps=29.97, supported=YES
D/EventLogger( 4179):     [X] Track:1, id=1, mimeType=video/avc, bitrate=4350000, codecs=avc1.4d001f, res=1280x720, fps=29.97, supported=YES
D/EventLogger( 4179):     [X] Track:2, id=2, mimeType=video/avc, bitrate=9600000, codecs=avc1.640028, res=1920x1080, fps=29.97, supported=YES
D/EventLogger( 4179):   ]
D/EventLogger( 4179):   group [
D/EventLogger( 4179):     [X] Track:0, id=10/15, mimeType=audio/mp4a-latm, codecs=mp4a.40.2, channels=2, sample_rate=48000, language=en, supported=YES
D/EventLogger( 4179):   ]
D/EventLogger( 4179):   group [
D/EventLogger( 4179):     [X] Track:0, id=null, mimeType=application/id3, supported=YES
D/EventLogger( 4179):   ]
D/EventLogger( 4179):   Metadata [
D/EventLogger( 4179):     HlsTrackMetadataEntry
D/EventLogger( 4179):   ]
D/EventLogger( 4179): ]
```

### Media

I will send the media to dev.exoplayer@gmail.com

### Bug Report

- [ ] You will email the zip file produced by `adb bugreport` to dev.exoplayer@gmail.com after filing this issue.

The manifest you provided over email contains `CLOSED-CAPTIONS=NONE` and doesn't contain a `SUBTITLES` attribute. According to [RFC 8216 section 4.4.6.2](https://datatracker.ietf.org/doc/html/draft-pantos-hls-rfc8216bis#section-4.4.6.2) that means the stream doesn't contain captions:
> If the value [of CLOSED-CAPTIONS] is the enumerated-string value NONE, all EXT-X-STREAM-INF tags MUST have this attribute with a value of NONE, indicating that there are no closed captions in any Variant Stream in the Multivariant Playlist.

If you want the player to detect the subtitles/captions in your stream, please declare them in your manifest.


Would it be then possible to use something like this to extract the captions without being in the manifest file?

`val extractor: HlsExtractorFactory = DefaultHlsExtractorFactory(DefaultTsPayloadReaderFactory.FLAG_DETECT_ACCESS_UNITS, true)`

I tried it and won't work, I believe this is due to the `CLOSED_CAPTIONS=NONE` metadata. Is there any way possible to disregard that, because as we can see from VLC player they could see the caption tracks just fine.