RTSP - header method

Please, use the standard keyword in header method:
CSeq, Transport, Session, .......

Greetings


Thanks for reporting! Can you give us a bit more details what you observed and what the expectations are? 

Hi.
My camera is not responding due to non-compliant keyword headers.
I changing the code for replace keyword headers in accordance of  RFC 7826 (section 18) and now the IP camera work well.
I believe the issue #9182 is similar to mine.

RTSP header syntax is case insensitive. Your camera is not fully compliant in this case. Glad that you fixed it by changing some string constants. 

Hi.
The RFC7826 don't talk about case insensitive in headers. the keywords should be equal as in section 18

Yes it does, in section 20:

The RTSP syntax is described in an Augmented Backus-Naur Form (ABNF)as defined in RFC 5234.  It uses the basic definitions present in RFC 5234 <https://datatracker.ietf.org/doc/html/rfc5234>. Please note that ABNF strings, e.g., "Accept", are case insensitive as specified in Section 2.3 of RFC 5234. The RTSP syntax makes use of the ISO 10646 character set in UTF-8 encoding.

you're right. But there are many cameras that are not responding, but if you change the strings you cover all the cameras and you are not out of the RFC standard.

Fixing for one camera may break for another. In our testing we found there
are discrepancies in what cameras support. For example, for
Content-Encoding header, a camera could support either

- Content-encoding
- Content-Encocing
- content-encoding

We've seen RTSP servers do all three, so it's hard for us to make a
decision which one to use. But we will keep an eye on this.

On Mon, Jul 19, 2021 at 1:59 PM bianchina3 ***@***.***> wrote:

> you're right. But there are many cameras that are not responding, but if
> you change the strings you cover all the cameras and you are not out of the
> RFC standard.
>
> —
> You are receiving this because you were assigned.
> Reply to this email directly, view it on GitHub
> <https://github.com/google/ExoPlayer/issues/9201#issuecomment-882525554>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AUCMUURSRACD7YKUXCGQXQLTYQORRANCNFSM5ARKL3PQ>
> .
>


It's fixed in the new release. 

https://github.com/google/ExoPlayer/commit/13ff72d86934070867dce1b1be2b7ab5f91f0bb7