SMPTE-TT CODEC not recognized in HLS master playlist

### Issue description
​
SMPTE-TT CODEC not recognized in HLS master playlist
​​
The DASH manifest specifies the SMPTE-TT captions in the codecs in the manifest (from W3C [TTML Profiles for Internet Media Subtitles and Captions 1.1](https://www.w3.org/TR/ttml-imsc1.1/#general-0).
​
Apple describes IMSC1 in MP4 in [RFC-8216 Section 3.6](https://tools.ietf.org/html/draft-pantos-hls-rfc8216bis-04#section-3.6)
​
They use the SHOULD and MAY mealy words to imply the codec to use for it in the [Authoring Guidelines](https://developer.apple.com/documentation/http_live_streaming/hls_authoring_specification_for_apple_devices)
​
The origin server vendors put all this together and implement a playlist that expects `EXT-X-MEDIA:TYPE=SUBTITLES` to work like this
​
### Proposed Solution
Pull request issued 7184.  The solution was to modify the `HlsPlaylistParser` to look for codecs in references to the subtitle media.
​
### Reproduction steps
Test case shows both paths (exiting default to VTT) and IMSC codec.  
​
### Link to test content
​
Sorry, we don't have a sample that is not live.  We can get this if absolutely needed
​
### A full bug report captured from the device
N/A
​
### Version of ExoPlayer being used
2.11.4 
​
### Device(s) and version(s) of Android being used
N/A test case.
